@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
body::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 2;
  padding: 0 3%;
  font-family: "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.2em;
  background: linear-gradient(180deg, #10e5a5e2 0%, rgba(15, 20, 90, 10) 80%);
  color: #12185eec;
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2 {
  font-weight: 700;
  font-size: 42px;
}

img {
  object-fit: contain;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  width: 100%;
}

.main-list {
  display: flex;
  gap: 150px;
}

.list-item__link {
  position: relative;
  font-size: 26px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-item__link::after {
  position: absolute;
  transition: 0.2s;
  content: "";
  border-radius: 10px;
  width: 55%;
  height: 3px;
  bottom: -12px;
  background: #d2203e;
  box-shadow: 0px 4px 4px rgba(179, 160, 16, 0.326);
}

.list-item__link:hover::after {
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/developer.png);
  background-size: cover;
  padding: 10vh 10vw 80vh 10vw;
  background-position: center bottom;
  gap: 10px;
}

.home__title {
  letter-spacing: 0.3em;
  font-size: 40px;
  text-align: center;
  color: #0a147eee;
  line-height: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.home__subtitle {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  line-height: 1;
}

.about {
  margin-bottom: 200px;
}

.about__title {
  font-size: 60px;
  position: relative;
  text-align: left;
  color: #cc8bf2;
  line-height: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 60px;
}

.about__title::after {
  position: absolute;
  content: "";
  border-radius: 8px;
  width: 60%;
  height: 1px;
  bottom: -10px;
  background: #147a9c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.info-block {
  display: flex;
  justify-content: space-between;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans.woff2') format('woff2');
  font-display: swap;
}


.info-block__text {
  width: 60%;
  font-family: Verdana, sans-serif;
  font-size: 17px;
  line-height: 1.2
}

.info-block__img {
  align-self: center;
  width:300px;
  height: 650px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  
  border: 5px solid rgba(29, 10, 197, 0.854); /* ← agregamos un azul rojo de 5px */
  
}

.skills {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.skills__title {
  font-size: 60px;
  position: relative;
  text-align: left;
  color: #cc8bf2;
  line-height: 1;
  text-shadow: 0px 4px 4px rgba(0, 4, 5, 0.71);
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 20px;
}

.skills__title::after {
  position: absolute;
  content: "";
  border-radius: 10px;
  width: 60%;
  height: 1px;
  bottom: -13px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(15, 15, 3, 0.795);
}


.skills-list {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  color: rgba(227, 227, 19, 0.822);
  font-size: 20px
}

.skill__info {
  width: 150px;
  font-size: 20px;
  color: rgba(227, 227, 19, 0.822)

}

.skill__button {
  font: inherit;
  font-weight: 700;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.skill__button:hover {
  color: #cc8bf2;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.project__img{
  border-radius: 30px;
}

.project__link {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project__link::after {
  position: absolute;
  transition: 0.2s;
  content: "";
  border-radius: 10px;
  width: 55%;
  height: 3px;
  bottom: -12px;
  background: #a178b9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project__link:hover::after {
  width: 100%;
}

.feedback {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.feedback__title {
  font-size: 60px;
  position: relative;
  text-align: left;
  color: #68df3d;
  line-height: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 20px;
}

.feedback__title::after {
  position: absolute;
  content: "";
  border-radius: 10px;
  width: 60%;
  height: 1px;
  bottom: -13px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  gap: 20px;
}

.form label {
  width: 100%;
}

.form__input {
  width: 100%;
  font: inherit;
  background: #065309d2;
  border: 2px solid #68df3d ;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}

.form__input::placeholder {
  color: #fff;
}

.form__input:active,
.form__input:focus,
.form__input:focus-visible {
  border: none;
}


.form__button {
  font: inherit;
  font-weight: 800;
  color: #fff;
  background: linear-gradient(111.97deg, #68df3d 35.63%, rgba(60, 219, 100, 0) 150.16%);
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
  padding: 15px 30px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.footer{
font: Verdana;
color:#9124cf;
font-weight: 600
}
/* Estilos para el footer */
footer {
  background-color: #222; /* Fondo oscuro */
  color: #fff;           /* Texto blanco */
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Estilos para el título */
.socialmedia_title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Estilos para el botón */
.socialmedia_button {
  background-color: #e1306c; /* Color icónico de Instagram */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
/*Facebook*/
.socialmedia_button:nth-of-type(2) {
  background-color: #4267B2; /* Color icónico de Facebook */
}
.socialmedia_button:nth-of-type(2):hover {
  background-color: #365899; /* Color más oscuro al pasar el mouse */
}

/*Tik Tok*/
.socialmedia_button:nth-of-type(3) {
  background-color: #220323; 
}
.socialmedia_button:nth-of-type(3):hover {
  background-color: #444444; /* Color más claro al pasar el mouse */
}


.socialmedia_button:hover {
  background-color: #621631; /* Color más oscuro al pasar el mouse */
}